<div class="container">
    <!-- ventana nro 3 - salida -->
    <div class="grid-container">

        <div class="title">.:: {{ des_planta }} ::. - Registro Salida de Vehiculo</div>

        <form class="container-cuerpo" [formGroup]="formulario">
       

            <div class="container-cuerpo-fila1">
                <mat-form-field class="fila1-cod-vehiculo">
                    <mat-label>Vehiculo</mat-label>
                    <input matInput type="text" (keyup)="BuscarVehiculo()"  placeholder="Vehiculo" value=""
                        autocomplete="off" formControlName="vehiculo" >
                </mat-form-field>

                <mat-form-field class="fila1-des-vehiculo">
                    <mat-label>Descripcion</mat-label>
                    <input matInput disabled value='{{ des_vehiculo }}'>
                </mat-form-field>
            </div>
 
    
            <div class="container-cuerpo-fila2">
                <mat-form-field class="fila2-codcond-vehiculo">
                    <mat-label>Conductor</mat-label>
                    <input matInput #conductor type="text" (keyup)="BuscarConductor()" placeholder="Conductor" value=""
                        autocomplete="off" formControlName="conductor" >
                </mat-form-field>

                <!--<mat-form-field class="fila2-nomcond-vehiculo">
                    <mat-label>Nombre</mat-label>
                    <input matInput disabled value='{{ des_conductor }}'>
                </mat-form-field>-->

                <mat-form-field class="fila2-nomcond-vehiculo">
                    <mat-label>Nombre</mat-label>
                    <input matInput  type="text"  placeholder="Nombre" value=""
                        autocomplete="off" formControlName="nombre" >
                </mat-form-field>
            </div>

           
            <div class="container-cuerpo-fila3">
                
                <mat-form-field class="fila3-origen-vehiculo">
                    <mat-label>Destino</mat-label>
                    <mat-select formControlName="destino" name="listar_destino">
                        <mat-option *ngFor="let listar_destino of listar_destinos" [value]="listar_destino.Planta">
                            {{listar_destino.Descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 

               <mat-form-field class="fila3-km-vehiculo">
                    <mat-label>Kilometraje</mat-label>
                    <input matInput #kilometraje type="number"  placeholder="Kilometraje" value="" 
                        autocomplete="off" formControlName="kilometraje" >
                </mat-form-field>
            
            <!--<mat-form-field class="fila2-destino">
                <mat-label>Origen</mat-label>
                <input matInput disabled value='{{ origen_selectt }}' />
            </mat-form-field>-->
            </div> 
 
            <div class="container-cuerpo-fila4">
                <mat-form-field class="fila4-glosa-vehiculo" appearance="fill">
                    <mat-label>Glosa</mat-label>
                    <textarea matInput type="text"  placeholder="Glosa" value=""
                    autocomplete="off" formControlName="glosa"></textarea>
                </mat-form-field>


                <!--<mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>-->
            </div>




 
            <div class="container-cuerpo-foot">

                <button type="button" class="button-registrar" mat-flat-button color="primary" (click)="Guardar()" >
                    <mat-icon aria-label="person">check_circle_outline
                    </mat-icon>Registrar
                </button>
                <button type="button" class="button-cancelar" mat-flat-button color="primary"
                    [routerLink]="['/SeguridadControlVehiculoAccion']">
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>Cancelar
                </button>
            </div>
        </form>
    </div>

 
</div>

 