<div class="dialog-container">
    <h2 class="dialog-title">Alerta</h2>
    <mat-divider></mat-divider>
    <mat-dialog-content class="dialog-content">Desea registrar otro color?</mat-dialog-content>
    
    <mat-dialog-actions class="dialog-actions">
        <button class="dialog-button-cancelar" mat-button mat-dialog-close mat-dialog-close="false">Cancelar</button>
        <button class="dialog-button-eliminar" mat-button mat-dialog-close mat-dialog-close="true" >Si</button>

    </mat-dialog-actions>
    


    <!--<h5 class="dialog-footer">Esta operacion es irreversible!!</h5>-->
    </div>
         