.contenedor-registro-calificacion {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	opacity: 0;
	font-family: corbel, arial;
	font-size: 15px;

}

.contenedor-registro-calificacion-popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 4px;
	padding: 0;
    margin: 0;
	text-align: center;
	
	transition: 0.3s ease all;
	transform: scale(0.7);
	opacity: 0;
	width: 750px;
}

.contenedor-registro-calificacion-title {
	background-color: #337AB7;
	color: #FCFFFF;
	padding: 8px 10px 10px 10px;
	border-radius: 4px 4px 0px 0px;
	width: 100%;
}

.contenedor-registro-calificacion-main {
    padding: 0px 10px 15px 10px;
    width: 100%;
    height: 300px;
	border: 1px solid rgba(0,0,0,0.3); 
	border-width: 0px 0px 1px 0px;
}

.califrow1, .califrow2 {
    text-align: left;
    width: 100%;
    height: 25px;  
    margin-bottom: 5px;  
}

.califrow2 {margin-bottom: 10px; }

.califrow3  {
    text-align: center;
    width: 100%;
    height: 180px;  
    padding: 15px 10px 10px 0px;
    margin-bottom: 5px;  

}

.califrow3 p{
    padding: 5px 0px 5px 0px;
    color: rgba(0,0,0,0.7);
}

.califrow3col1, .califrow3col2, .califrow3col3{ 
    margin: 0; 
    padding: 0;
}

.califrow3col1{
	border: 1px solid rgba(0,0,0,0.3); 
    border-width: 0px 1px 0px 0px;
}

.califrow3col3{
	border: 1px solid rgba(0,0,0,0.3); 
    border-width: 0px 0px 0px 1px;
}

.califrow3_rechazo {
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 10px 5px 0px 10px;
    
}

.califrow3_rechazo_motivo {
    padding: 0px 10px 0px 0px;
}

.califrow3_rechazo_num_prendas {
    padding: 0px 0px 0px 20px;
}

.califrow3_rechazo_des_motivo {
    font-size: 14px;
    text-align: left;
    color: rgba(0,0,0,0.7);
}

.califrow4  {
    text-align: left;
    width: 100%;
    height: 40px;  
    padding: 5px 0px 0px 0px;
    margin: 0; 
    font-size: 14px; 
}

.mat-button-toggle-checked {
    background-color: #C1C1C1;
    color: #141313 !important;
}

mat-button-toggle {
    height: 45px;
    width: 110px;
    float: left;
}



.contenedor-registro-calificacion-foot { 
	width: 100%;
	height: 55px;
	text-align: center;

}

.button_guardar_calificacion, .button_cerrar_calificacion {
    margin: 10px 50px 0px 0px;
    width: 130px;
}







/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.contenedor-registro-calificacion-activo-no { opacity: 0; visibility: hidden;}

.contenedor-registro-calificacion-activo-si {transform: scale(1); opacity: 1; visibility: visible;}
// .container-registro-activo-si h3 { animation: entradaTitulo .8s ease .5s forwards; }
// .container-registro-activo-si h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
// .overlay_activo_si .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

.contenedor-registro-calificacion-popup-activo-no { opacity: 0;}
.contenedor-registro-calificacion-popup-activo-si {transform: scale(1); opacity: 1; visibility: visible;}

