<body>
<div class="container"> 

    <div class="grid-container">  
 
        <div class="title">Seleccionar Defecto</div>

        <form class="container-cuerpo">
            <div class="container-cuerpo-fila1">
                
            </div>    
  
            <div class="container-cuerpo-fila2">
                
                <!--<div class="fila1-Datos"> 
                    <p><b>Talla:</b> {{Cod_Talla}}</p>
                    <p><b>Descripcion:</b> {{Des_Medida}}</p>
                    <br>
                    <hr>
                </div>-->

                <table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                    <ng-container matColumnDef="Tallas">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Defecto</th>
                        <td mat-cell  *matCellDef="let data_det;">
                            <button type="button" class="button-agregar" (click)="selectMedida(data_det.Abr_Motivo)"  mat-flat-button >{{data_det.Descripcion}}</button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Cantidad">
                       
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cantidad</th>
                        <td mat-cell  *matCellDef="let data_det;">
                            <button type="button" class="button-agregar2"mat-flat-button >{{data_det.Cantidad}}</button> 
                        </td>
                    </ng-container>
 
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_cab; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_cab;" class="table-row"></tr>
                </table>
 
            </div>

            
            <div class="container-cuerpo-foot">
                <button type="button" class="button-cancelar" mat-button mat-dialog-close="false"   mat-flat-button>
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>  Cancelar
                </button>
                <div class="Total">
                    Total: {{Total}}
                </div>        
            </div>


        </form>

    </div>
 
</div>
</body>
 