.mat-selection-list .mat-list-option {
    font-size: small;
    height: 15px;

}



table {
    width: 100%;
}

.escanear {
    width: 60%;
}


.mat-column-Num_Secuencia,
.mat-column-kgs_crudo,
.mat-column-Rollo,
.mat-column-Sel,
.mat-column-Cod_tela,

.mat-column-Cod_Tela,
.mat-column-Des_Tela,
.mat-column-Crudo,
.mat-column-select,
.mat-column-Cod_OrdTra {
    text-align: left;
    height: 10px;
    font-size: 11px;
    /*background-color: rgb(206, 153, 40);*/
    font-weight: bold;
    color: rgb(18, 18, 20);
    background-color: blanchedalmond;
}

.mat-elevation-z8 {
    width: 100%;
    font-family: arial;
    font-size: 10px;

}


/*
.mat-column-Sel,
.mat-column-Ficha,
.mat-column-Secuencia,
.mat-column-Tela
{
    text-align: left;
    font-size: 13px;
    font-family: arial;
    padding: 15px;
}
.mat-column-Sel {width: 30px !important;text-align: left}
.mat-column-Ficha {width: 30px !important;text-align: left}
.mat-column-Secuencia {width: 30px !important;text-align: left}
.mat-column-Tela {width: 30px !important;text-align: left}

.mat-header-cell {text-align: left; padding: 15px; }
*/
/* ------------------------- */
/* TABLA */
/* ------------------------- */
/*
.mat-elevation-z8 {
    width: 100%;
    font-family: arial;
    font-size: 10px;

}
th.mat-cell{
    padding:15px;
    text-align: left;
}
td.mat-cell{
    padding:15px;
    text-align: left;
}
tr:hover {
    border-color: currentColor;
    background: #E1E1E1;
}
  
tr:active {
    background: #efefef;
}
*/


input{
    width: 90%;
    
    font-weight: bold;
    
    color: rgb(18, 18, 20);
    background-color: blanchedalmond;
}
/**
Formato de presentacion 20220808
**/

.main {
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    box-sizing: border-box;
    display: flex;
   
}

.left {
    width: 50%;
    height: 100%;
    /*height: 100%;*/
    background-color: blanchedalmond;
    padding: 5px;
    border: 2px;
}

.right {
    width: 50%;
    height: 500px;
    /*height: 100%;*/
    background-color: blanchedalmond;
}

.right1 {
    /*
    overflow-y: scroll;
    */
    height: 87%;
    border-radius: 10px;
    border-color: black;
}

.right2 {

    /*height: 13%;
    text-align: center;*/
    display: flex;
    justify-content: space-evenly;

}


.ask {
    width: 20%;
    font-size: 15px;
    /*padding: 0,0,0,0;*/
    padding-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 17, 32);

}

.reply {
    width: 80%;
    font-weight: bold;
    font-style: italic;

}

/************Botones Inicio **/

button{
    width: 110px;
    height: 40px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0; 
    background-color: rgb(88, 88, 88);
    color: #ffffff; 
    font-weight: bolder;
}





.filaTela{
    color: rgb(51, 17, 240);
    height: 10px;
}
/************Botones fin    **/

/** para mostrar los mensajes***/
.blue-snackbar {
    background: #2196F3;
  }


  button[disabled=disabled], button:disabled {
    background: rgb(228, 165, 102)
}
/**
titulos de cada div
*/
.tituloPersonalizado01{
    background-color: rgb(88, 88, 88);
    color: #ffffff; 
    text-align: center;
    font-weight: bold;
}
