.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    //background-color: blue;
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 15px;
    margin: 0;
}
   
.grid-container {
    border-radius: 4px;
    width: 350px; 
    height: auto; //93%;
    //background-color: green;
    border: 1px solid #337ab7;
    margin: 0; 
    padding: 0px 0px 0px 0px;
    //padding-bottom: 10px;
    min-width: 350px;
    min-height: 400px;
    height: 640px;
    //position: absolute;  
}
  
.title {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 8px 10px 10px 10px;
    text-align: center;
    //border-bottom: 1px solid #337AB7;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #337ab7;
    font-weight: bold;
}

.container-cuerpo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    justify-content: center;
}

.container-cuerpo {
    display: grid;

    grid-template:
        "fila1" 0px
        "fila2" 500px
        "foot" 55px / 
        99%;
}

.container-cuerpo-fila1 {
    grid-area: fila1;
    margin-top: 15px;
}
.container-cuerpo-fila2 {
    grid-area: fila2;
    overflow: auto;
    margin-bottom: 10px;
    width: 100%;
}
.container-cuerpo-foot {
    grid-area: foot;
    
}

mat-form-field {
    width: 100%;
    padding: 0px 10px;

}



.button-agregar{
    width: 100%;
    height: 40px;
    max-width: 280px;
    margin: auto;
    margin-top: 3px;
    background-color: #3f51b5;
    color: #ffffff;
    width: 100%; 
}





//fila foot
.container-cuerpo-foot {
    border-top: 1px solid #337ab7;
    justify-content: center;
    display: grid;

    grid-template:
        "fcol1 auto" auto /
        200px auto;
}


.container-cuerpo-foot ,
.button-cancelar {
    height: 10%;
    margin: 0 auto;
    margin: 15px 0px 0px 0px;
    min-height: 42px;
    max-width: 345px;
    min-width: 120px;
}


.button-cancelar {
    grid-area: fcol1;
    background-color: #d32f2f;
    color: #ffffff;
}


.mat-column-Tallas
//.mat-column-eliminar 
{
	text-align: center;
	font-size: 13px;
    font-family: arial;
    padding: 10px;
   
}
 
.mat-column-Tallas{
    width: 10px;
}

/* ------------------------- */
/* TABLA */
/* ------------------------- */

.mat-elevation-z8 {
    width: 100%;
	font-family: arial;
	font-size: 10px;
 
}
.paginador{
    width: auto
}

tr:hover {
    border-color: currentColor;
    background: #E1E1E1;
}
  
tr:active {
    background: #efefef;
}



  @media screen and (max-width: 650px){
   .grid-container{
       height: 620px;
       width: 235px; 
       min-width: 235px;
   } 
   
  mat-dialog-container{
       padding: 15px;
   }

   .mat-dialog-container{
    padding: 15px;
    }
    .container-cuerpo {
        display: grid;
     
        grid-template:
        "fila1" 0px
        "fila2" 480px
        "foot" 55px /
        99%; 
    }

    .container-cuerpo-foot ,
    .button-cancelar {
    height: 10%;
    margin: 0 auto;
    margin: 15px 10px 10px 10px;
    min-height: 42px;
    max-width: 300px;
    min-width: 120px;
}

  }

  ::ng-deep mat-dialog-container{
    padding: 5px;
}

::ng-deep .my-class .mat-dialog-container{
 padding: 5px;
 }