
<div class="container-dialog">
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container-dialog"> 
 
        <div class="title-dialog">Agregar Registro </div>

        <form class="container-cuerpo-dialog" [formGroup]="formulario">
            <div class="container-cuerpo-fila1-dialog">
                
                
                    <mat-form-field class="fila1-OP-dialog"> 
                        <mat-label>OP</mat-label>
                        <input matInput type="text"  placeholder="OP" value="" 
                            autocomplete="off" formControlName="sOP" (change)="BuscarPorOP()"  >
                    </mat-form-field>

                    <mat-form-field class="fila1-abr-dialog"> 
                        <mat-label>Abr</mat-label>
                        <input matInput type="text"  placeholder="Abr" value="" #abr
                            autocomplete="off" formControlName="sAbr" (keyup)="BuscarCliente()" >
                    </mat-form-field>


    
                
                <mat-form-field class="fila1-cliente-dialog" appearance="fill"> 
                    <mat-label>Cliente</mat-label>
                    <input matInput type="text"  #trigger="matAutocompleteTrigger" placeholder="Cliente" formControlName="sCliente"  [matAutocomplete]="autoDataCliente" />
                    <mat-autocomplete autoActiveFirstOption #autoDataCliente="matAutocomplete">
                        <mat-option *ngFor="let option of filtroOperacionCliente | async" [value]="option.Nom_Cliente" (click)="CambiarValorCliente(option.Cod_Cliente,option.Abr_Cliente)">
                            {{option.Nom_Cliente}}
                        </mat-option> 
                    </mat-autocomplete>                            
                </mat-form-field>
                  
                 
                <mat-form-field class="fila1-estilo-dialog" appearance="fill">
                    <mat-label>Estilo</mat-label>
                    <input matInput type="text"  #trigger="matAutocompleteTrigger" placeholder="Estilo" formControlName="sEstilo" #estilo  [matAutocomplete]="autoDataEstilo" />
                    <mat-autocomplete autoActiveFirstOption #autoDataEstilo="matAutocomplete">
                        <mat-option *ngFor="let option of filtroOperacionEstilo | async" [value]="option"   (click)="CargarOperacionTemporada()" >
                            {{option}}
                        </mat-option> 
                    </mat-autocomplete>                             
                </mat-form-field>
                 

                <mat-form-field appearance="fill" class="fila1-temporada-dialog" >
                    <mat-label>Temporada</mat-label>
                    <mat-select formControlName="sTemporada">
                      <mat-option *ngFor="let option of listar_operacionTemporada" [value]="option.Codigo" (click)="CargarOperacionColor(option.Descripcion)" >
                        {{option.Descripcion}} - Stock: {{option.Stock}} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

         

                    <mat-form-field appearance="fill" class="fila1-color-dialog" >
                        <mat-label>Color</mat-label>
                        <mat-select formControlName="sColor">
                          <mat-option *ngFor="let option of listar_operacionColor" [value]="option.Cod_ColCli" (click)="ListarTallas()" >
                            {{option.Nom_ColCli}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>    
      

                    <mat-form-field class="fila1-fecha-dialog">
                        <input matInput [matDatepicker]="picker1" placeholder="Fecha Registro" [formControl]="fec_registro">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker  #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fila1-auditor-dialog"> 
                        <mat-label>Auditor</mat-label>
                        <input matInput type="text"  placeholder="Auditor" value=""
                            autocomplete="off" formControlName="sAuditor" >
                    </mat-form-field>

                    <mat-form-field class="fila1-ingreso-dialog"> 
                        <mat-label>Ingreso</mat-label>
                        <input matInput type="number"  placeholder="Ingreso" value=""
                            autocomplete="off" formControlName="sIngreso" >
                    </mat-form-field>

                    <mat-form-field class="fila1-glosa-dialog"> 
                        <mat-label>Observacion</mat-label>
                        <input matInput type="text"  placeholder="Observacion" value=""
                            autocomplete="off" formControlName="sGlosa">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="fila1-tipo-dialog">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="Tipo">
                          <mat-option *ngFor="let Tipo of Tipos" [value]="Tipo.Cod_Tipo">
                            {{Tipo.Nom_Tipo}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="fill" class="fila1-clasificacion-dialog">
                        <mat-label>Clasificacion</mat-label>
                        <mat-select formControlName="Clasificacion">
                          <mat-option *ngFor="let Clasificacion of Clasificaciones" [value]="Clasificacion.Cod_Clasificacion">
                            {{Clasificacion.Nom_Clasificacion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    
                    <button type="button" (click)="RegistrarCabecera()" [disabled]="!flg_btn_cabecera" class="fila1-RegistrarCabecera-dialog" mat-flat-button >
                        Registrar
                    </button>
                      
            </div> 
            
            <p *ngIf="Altertas_Caidas_Global" class="fila1-alerta-dialog" style="color:red; font-size: 15px; margin:-15px 20px; font: bold sans-serif; font-weight: bold;">{{Altertas_Caidas_Global}}</p>
            
          <div class="container-cuerpo-fila4-dialog">
              <h5 class="titulo_datos">Datos a Registrar:</h5>
          </div>

            <div class="container-cuerpo-fila3-dialog">
               
                <mat-form-field class="fila3-codigo-dialog"> 
                    <mat-label>Codigo</mat-label>
                    <input matInput type="number" #cod placeholder="Codigo" value="" (keyup)="BuscarMotivo()"
                        autocomplete="off" formControlName="cod"  >
                </mat-form-field>
                <mat-form-field class="fila3-defecto-dialog"> 
                    <mat-label>Defecto</mat-label>
                    <input matInput type="text" #defecto  placeholder="Defecto" value=""  
                        autocomplete="off" formControlName="defecto" >
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="fila3-tallas-dialog" >
                    <mat-label>Tallas</mat-label>
                    <mat-select formControlName="s">
                      <mat-option *ngFor="let talla of tallas" [value]="talla.Cod_Talla" >
                        {{talla.Cod_Talla}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>


                  <mat-form-field class="fila3-cant-dialog"> 
                    <mat-label>Cantidad</mat-label> 
                    <input matInput type="number" #cod placeholder="" value="" 
                        autocomplete="off" formControlName="cant"  >
                </mat-form-field>
    
                 <div class="fila3-insertarFila-dialog" >
                  <button type="button" (click)="InsertarFila()" [disabled]="!flg_btn_detalle" class="button-fila-dialog" mat-flat-button >
                  <mat-icon aria-label="person">save
                  </mat-icon>
                </button>
                </div> 
                

            </div>


           
            <div class="container-cuerpo-fila2-dialog">
                   
               <table mat-table   class="mat-elevation-z8" #table [dataSource]="dataSource">
                    

                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns"  >
                        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    
                        <td  mat-cell *matCellDef="let element" > {{element[column]}} </td>
                      </ng-container>

            
                      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                      <!--<tr mat-row *matRowDef="let row; columns: columnsToDisplay;">(click)="EliminarRegistro(row.Abr_Motivo)"</tr>-->
                      <tr
                      mat-row
                      (click)="AsignarCodRegistroVariableEliminar(row.Cod_Motivo)"
           

                       
                      *matRowDef="let row; columns: columnsToDisplay;"
                      ></tr>

                    <!--<tr mat-header-row *matHeaderRowDef="displayedColumns_cab"></tr>
                    <tr mat-row *matRowDef="let fila; columns: displayedColumns_cab;" class="example-element-row"></tr>
                    --> 


                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
               </mat-paginator>
            </div>


            <div class="container-cuerpo-foot-dialog">
                <button type="button" (click)="limpiar()" class="button-agregar-dialog" mat-flat-button 
                    >
                    <mat-icon aria-label="person">autorenew</mat-icon>
                    Limpiar
                </button>
                

                <button  type="button" (click)="EliminarRegistro()" class="button-Eliminar-dialog" mat-flat-button 
                >
                <mat-icon aria-label="person">delete_forever</mat-icon>
                Eliminar
                </button>


                <button mat-dialog-close type="button" class="button-modificar-dialog" mat-button mat-dialog-close mat-dialog-close="false" 
                    >
                    <mat-icon   aria-label="person">cancel
                    </mat-icon>  Cancelar
                </button>                
            </div>
        </form>

    </div>


</div>