<div class="container">
    <!-- ventana nro 4 - historial -->
    <div class="grid-container"> 

        <div class="title">.:: {{ des_planta }} ::. - Historial</div>

        <form class="container-cuerpo" [formGroup]="formulario">
            <div class="container-cuerpo-fila1">
           

                <mat-form-field class="fila1-fecha">
                    <mat-label>Fec. Registro</mat-label>
                    <input matInput [matDatepicker]="fec_registro" autocomplete="off"
                        formControlName="fec_registro">
                    <mat-datepicker-toggle matSuffix [for]="fec_registro"></mat-datepicker-toggle>
                    <mat-icon  (click)="clearDate($event)" style=" position: absolute;
                    float: right;
                    top: 5px;
                    margin-left: -26px;
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.54);">clear</mat-icon>
                    <mat-datepicker #fec_registro></mat-datepicker>
                </mat-form-field>

  
             
                    <mat-form-field class="fila1-vehi"> 
                        <mat-label>Vehiculo</mat-label>
                        <input matInput type="text"  placeholder="Vehiculo" value=""
                            autocomplete="off" formControlName="sCod_Barras" >
                    </mat-form-field>
    
                    <mat-form-field class="fila1-cond">
                        <mat-label>Conductor</mat-label>
                        <input matInput type="text"  placeholder="Conductor" value=""
                            autocomplete="off" formControlName="nDni_Conductor" >
                    </mat-form-field> 
      
  
                <button type="button" class="fila1-buscar" mat-flat-button color="primary"
                    (click)="ListarHistorial()">                    
                    <mat-icon aria-label="person">search</mat-icon>Buscar
                </button>
            </div> 
            <!-- hora	tipo	num_guia	cod_proveedor	des_proveedor	cod_usuario -->
            <div class="container-cuerpo-fila2">
                <table mat-table [dataSource]="data_det" class="mat-elevation-z8">
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Accion</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.tipo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Fecha</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.fecha}} </td>
                    </ng-container>
                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Hora</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.hora}} </td>
                    </ng-container>

                     <ng-container matColumnDef="vehiculo">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Vehiculo</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Des_Vehiculo}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="conductor">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Conductor</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Num_Conductor}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="origen">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Origen</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.origen}} </td>
                    </ng-container>                     
                    
                    <ng-container matColumnDef="destino">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Destino</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.destino}} </td>
                    </ng-container> 

                    <ng-container matColumnDef="kilometraje">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Kilometraje</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Num_Kilometraje}} </td>
                    </ng-container> 

                    <ng-container matColumnDef="tipo_operacion">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Tipo operacion</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.tipo_operacion}} </td>
                    </ng-container> 

                    <ng-container matColumnDef="ver">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Glosa</th>
                        <td mat-cell *matCellDef="let data_det"> {{data_det.Observacion}} </td>
                    </ng-container> 

                  
                      
                    <ng-container matColumnDef="detalle">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Modificar Km.</th>
                        <td mat-cell *matCellDef="let data_det">
                            <!--<a mat-icon-button *ngIf="data_det.Cod_Barras.length>0"
                                (click)="EliminarRegistro(data_det.Cod_Barras, data_det.Cod_Accion,data_det.Cod_Vehiculo,data_det.Num_Kilometraje,data_det.Num_Planta_Destino,data_det.Dni_Conductor, data_det.Num_Planta)">
                                <mat-icon color="warn">delete</mat-icon>
                            </a>-->

                            <a mat-icon-button *ngIf="data_det.Cod_Barras.length>0"
                                (click)="ModificarKm(data_det.id,data_det.Num_Kilometraje)">
                                <mat-icon color="success">create</mat-icon>
                            </a>
                        </td> 
                    </ng-container> 
   
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_cab"></tr>
                    <tr mat-row *matRowDef="let fila; columns: displayedColumns_cab;" class="example-element-row"></tr>
                </table>
            </div>
            <div class="container-cuerpo-foot">
                <button type="button" class="button-cancelar" mat-flat-button color="primary"
                    [routerLink]="['/SeguridadControlVehiculoAccion']">
                    <mat-icon aria-label="person">reply_all
                    </mat-icon>Regresar
                </button>
            </div>
        </form>

    </div>






   







</div>