

mat-form-field.mat-form-field {
    font-size: 13px;
    
  }
  


  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  

  .mat-column-select,
  .mat-column-Cod_OrdTra {
      text-align: left;
      color: rgb(18, 18, 20);
     
  
      background-color:rgb(199, 195, 186); 
     
  }

  ::ng-deep .mat-dialog-container{
    /*  background: rgb(206, 153, 40); /* red!important;*/
    background-color: rgb(199, 195, 186);
  }

  .mat-header-cell{
    color: blanchedalmond;
    background-color: rgb(88, 88, 88);
    height: 1px;

}

.dialog-actions{
    padding: 0em;
}

.dialog-button-cancelar {
    
    background-color: rgb(88, 88, 88);
    color: #ffffff; 
    width: 70px;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    margin-left: 4px
}

::ng-deep .tiempoInicio {
    
    background-color: rgb(88, 88, 88);
    color: #ffffff; 
    width: 70px;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    margin-left: 4px
}

.dialog-button-eliminar {
    background-color: rgb(88, 88, 88);
    color: #ffffff; 
    width: 70px;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    margin-left: 4px
}

mat-label{
    font-weight: bold;
}

button[disabled=disabled], button:disabled {
    background: rgb(228, 165, 102)
}