<div class="container">
    <!-- ventana nro 1 - selecciona la planta -->
    
   

    <div class="grid-container">

        <div class="principal-title">Control de Vehiculos</div>
        
        <div class="title">Indique la Planta donde Usted se Ubica</div>

        <div class="container-cuerpo">
            <button type = "button" class="button-establecimiento1" mat-flat-button color="primary" (click)="ActualizarPlanta(1)"
                [routerLink]="['/SeguridadControlVehiculoAccion']" >Santa Maria
            </button>
            <button type = "button" class="button-establecimiento2" mat-flat-button color="primary" (click)="ActualizarPlanta(2)"
                [routerLink]="['/SeguridadControlVehiculoAccion']" >Santa Cecilia
            </button>
            <button type = "button" class="button-establecimiento3" mat-flat-button color="primary" (click)="ActualizarPlanta(3)"
                [routerLink]="['/SeguridadControlVehiculoAccion']" >Huachipa Sede I
            </button>
            <button type = "button" class="button-establecimiento4" mat-flat-button color="primary" (click)="ActualizarPlanta(4)"
                [routerLink]="['/SeguridadControlVehiculoAccion']" >Huachipa Sede II
            </button>
            <button type = "button" class="button-establecimiento5" mat-flat-button color="primary" (click)="ActualizarPlanta(5)"
                [routerLink]="['/SeguridadControlVehiculoAccion']" >Independencia
            </button>
            <button type = "button" class="button-establecimiento6" mat-flat-button color="primary" (click)="ActualizarPlanta(13)"
                [routerLink]="['/SeguridadControlVehiculoAccion' ]" >Santa Rosa
            </button>
            <button type = "button" class="button-establecimiento7" mat-flat-button color="primary" (click)="ActualizarPlanta(11)"
            [routerLink]="['/SeguridadControlVehiculoAccion' ]" >VyD
        </button>
        </div>
    </div>
</div>
 
<!-- <button type = "button" class="button-establecimiento1" mat-flat-button color="primary" (click)="ActualizarPlanta(1)"
[routerLink]="['/SeguridadControlGuiaAccion']" *ngIf="mostrar_sede_1">Santa Maria -->  