<!--DefectosAlamacenDerivados-->
  
  
<div class="container"> 
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container">  
 
        <div class="title">Seleccionar Color</div>

        <form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="submit(formDirective)">
            <div class="container-cuerpo-fila1">
                
            </div>    
  
           
            <div class="container-cuerpo-fila2">
                <!--<table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                    <ng-container matColumnDef="Colores">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Color</th>
                        <td mat-cell  *matCellDef="let data_det;">
                            <button type="button" class="button-agregar" mat-dialog-close="true" (click)="GuardarColor(data_det.Cod_Present, data_det.Des_Present)" mat-flat-button >{{data_det.Des_Present}}</button>
                        </td>
                    </ng-container>
 
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_cab"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_cab;"></tr>
                </table>-->
               
                <mat-tab-group preserveContent #tabgroup>
                    <mat-tab label="Colores" [disabled]='!tabIsActiveColor'>
                       
                        <table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                            <ng-container matColumnDef="Colores">
                                <th style="display: none;" mat-header-cell *matHeaderCellDef class="mat-header-cell">Color</th>
                                <td mat-cell  *matCellDef="let data_det;">
                                    <button type="button" class="button-agregar"  (click)="GuardarColor(data_det.Cod_Present, data_det.Des_Present,tabgroup,1)" mat-flat-button >{{data_det.Des_Present}}</button>
                                </td>
                            </ng-container>
         
                            <tr mat-header-row *matHeaderRowDef="displayedColumns_cab"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns_cab;"></tr>
                        </table>
                   
                    </mat-tab>


                   
                    <mat-tab label="Tallas" [disabled]='!tabIsActiveTalla'>
                        <!--<div class="tab-content-center">-->
                        <table mat-table #table1  [dataSource]="dataSource2"   class="mat-elevation-z8" >
            
                            <ng-container matColumnDef="Tallas">
                                <th style="display: none;" mat-header-cell *matHeaderCellDef class="mat-header-cell">Talla</th>
                                <td mat-cell  *matCellDef="let data_det2;">
                                    <button type="button" class="button-agregar"  (click)="GuardarTalla(data_det2.Cod_Talla,tabgroup,2)" mat-flat-button >{{data_det2.Cod_Talla}}</button>
                                </td>
                            </ng-container>
         
                            <tr mat-header-row *matHeaderRowDef="displayedColumns_cab2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns_cab2;"></tr>
                       
                        </table>

                    <!--</div>-->
                    </mat-tab>
      

                    <mat-tab label="Cantidad" [disabled]='!tabIsActiveCantidad'>
                        <div class="tab-content-center">
                            <mat-form-field class="fila1-Cantidad"> 
                                <mat-label>Cantidad</mat-label>
                                <input matInput type="number" placeholder="Cantidad" value="" 
                                    autocomplete="off" formControlName="Cantidad">
                            </mat-form-field> 
                        
                            <button  type="submit" class="button-registrar" mat-dialog-close="true"  [disabled]="!formulario.valid" mat-flat-button>
                                <mat-icon aria-label="person" >save
                                </mat-icon>  Registrar
                            </button>
                        </div>

                    </mat-tab>
                  </mat-tab-group>

 
            </div> 

            
            <div class="container-cuerpo-foot">
                <button type="button" class="button-cancelar" mat-button mat-dialog-close   mat-flat-button>
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>  Cancelar
                </button>        
            </div>


        </form>

    </div>
 
</div>
 