 
<div class="container"> 
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container"> 
 
        <div class="title">Registro de prendas totales - <strong *ngIf="Total == 0; else titulomodificar">Registrar</strong></div>
        <ng-template #titulomodificar><strong>Modificar</strong></ng-template>
        <form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="submit(formDirective)" >
            <div class="container-cuerpo-fila1">
                
                    <mat-form-field class="fila1-Total"> 
                        <mat-label>Total</mat-label>
                        <input matInput type="number"  placeholder="Total" value="" 
                            autocomplete="off" formControlName="Total" >
                    </mat-form-field>      

            </div>    


 
            <div class="container-cuerpo-foot">
                <button *ngIf="Total == 0; else btnmodificar" type="submit" class="button-agregar" mat-dialog-close="false" [disabled]="!formulario.valid"  mat-flat-button>
                    <mat-icon aria-label="person" >add
                    </mat-icon>  Registrar
                </button>

                <ng-template #btnmodificar><button type="submit" class="button-agregar" mat-dialog-close="false" [disabled]="!formulario.valid"  mat-flat-button>
                    <mat-icon aria-label="person" >create
                    </mat-icon>  Modificar
                </button></ng-template>

                <button type="button" class="button-cancelar" mat-button mat-dialog-close mat-dialog-close  mat-flat-button>
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>  Cancelar
                </button>               
            </div>
        </form>

    </div>




 
 
   



 



</div>