<!--DefectosAlamacenDerivados-->
  
  
<div class="container"> 
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container"> 
 
        <div class="title">Agregar Rollo Tejido</div>

        <form class="container-cuerpo" [formGroup]="formulario">
            <div class="container-cuerpo-fila1">
                 
    
                   <!-- <mat-form-field class="fila1-Orden_Servicio"> 
                        <mat-label>Orden Serv.</mat-label>
                        <input matInput type="text" [textMask]="{mask: Orden_ServicioMascara}"  placeholder="Orden Serv." value=""
                            autocomplete="off" formControlName="Orden_Servicio" >
                    </mat-form-field>-->

                    

                    
                    <mat-form-field class="fila1-anadir"> 
                        <mat-label>Añadir</mat-label>
                        <input matInput type="text"  placeholder="Añadir" (keydown.enter)="applyEnterAdd($event)" value="" #myinputAdd
                            autocomplete="off" formControlName="bulto_añadir" >
                    </mat-form-field>     
                    
                    
                    <button type="button" class="fila1-btn_anadir" (click)="AnadirBulto()" mat-flat-button >                    
                        <mat-icon aria-label="person">assignment_turned_in</mat-icon>
                    </button>

        
                <mat-form-field class="fila1-eliminar"> 
                    <mat-label>Eliminar</mat-label>
                    <input matInput type="text"   placeholder="Eliminar" (keydown.enter)="applyEnterDel($event)" value="" #myinputDel
                        autocomplete="off" formControlName="bulto_eliminar" >
                </mat-form-field>    

                <button type="button" class="fila1-btn_eliminar" (click)="EliminarBulto()" mat-flat-button  >
                <mat-icon aria-label="person">delete</mat-icon> 
                </button>

                <button type="button" class="fila1-btn_regresar" mat-flat-button [routerLink]="['/IngresoRolloTejido']">                    
                    <mat-icon aria-label="person">reply_all</mat-icon>
                </button>
 

            </div>    
 
            <!-- hora	tipo	num_guia	cod_proveedor	des_proveedor	cod_usuario -->
            <div class="container-cuerpo-fila2">
                <table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                    <ng-container matColumnDef="Secuencia">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">N°</th>
                        <td mat-cell  *matCellDef="let data_det"> {{data_det.secuencia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Tela">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Tela</th>
                        <td mat-cell  *matCellDef="let data_det"> {{data_det.tela}}  </td>
                    </ng-container>
                    <ng-container matColumnDef="Peso">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Peso</th>
                        <td mat-cell *matCellDef="let data_det">  {{data_det.peso}} </td>
                    </ng-container>

                     <ng-container matColumnDef="Bultos">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Bultos</th>
                        <td mat-cell  *matCellDef="let data_det">  {{data_det.bultos}} </td>
                    </ng-container>
  

    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_cab"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_cab;"></tr>

                </table>

       

            </div>

        </form>

    </div>
 
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">  
    <p style="color: white; text-align: center; " >Cargando... </p>  
</ngx-spinner>       