 
<div class="container"> 
    <div class="grid-container">  
        <div class="title">Registrar Defectos de Jaba</div>
        <form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="submit(formDirective)" >
            <div class="container-cuerpo-fila1">
                
                    
                   
                    <!--<mat-form-field class="fila1-Fecha" >
                        <input matInput [matDatepicker]="picker1" placeholder="Fecha Registro" [disabled]="InputFechaDesHabilitado" [formControl]="Fecha" >
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker  #picker1></mat-datepicker>
                    </mat-form-field>-->
                <div class="Defectos_Container">
                    <mat-button-toggle-group  name="favoriteColor" class="fila1-Opciones"  formControlName="Defectos" >
                        <mat-button-toggle *ngFor="let Defecto of Opciones"   value="{{Defecto.Cod_Estado}}">{{Defecto.Des_Jaba_Estado}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                    <mat-form-field class="fila1-Observacion"> 
                        <mat-label>Observacion</mat-label>
                        <textarea matInput type="text"  placeholder="Observacion" value="" id="Observacion" 
                            autocomplete="off" formControlName="Observacion"></textarea>
                    </mat-form-field>   
               
                
            </div>     
 

 
            <div class="container-cuerpo-foot">
                <button  type="submit" class="button-agregar"  mat-dialog-close="true" [disabled]="!formulario.valid" mat-flat-button>
                    <mat-icon aria-label="person" >save
                    </mat-icon>  Registrar
                </button>

                <button type="button" class="button-cancelar" mat-button mat-dialog-close mat-dialog-close  mat-flat-button>
                    <mat-icon aria-label="person">highlight_off
                    </mat-icon>  Cancelar
                </button>               
            </div> 
        </form>

    </div>


</div>