<div class="container">
    <!-- ventana nro 2 - selecciona la accion salida/ingreso/historia/regresar -->
    <div class="grid-container">

        <div class="title">Indique el Tipo de Registro a Realizar</div>

        <div class="container-cuerpo">
 
            <button type="button" class="button-accion2" mat-flat-button color="primary" (click)="SetAccion('I')"
                [routerLink]="['/SeguridadControlMovimientosJabas']">Ingreso
            </button>

            <!--<button type="button" class="button-accion3" mat-flat-button color="primary">
                    Reporte
                </button>-->
        </div>
    </div> 
</div>  