<!--<a [routerLink]="['/AuditoriaHojaMedida']" >auditoria-hoja-medida-detalle works!-->

    
<div class="container" id="container"> 

    <div class="grid-container"> 
 
        <div class="title">Hoja de medidas Top</div>

        <form class="container-cuerpo" [formGroup]="formulario">


            <div class="container-cuerpo-fila1">

                <mat-form-field class="fila1-Linea"> 
                    <mat-label>Linea</mat-label>
                    <input matInput type="number" maxlength="3"  placeholder="Linea" value="" 
                        autocomplete="off" formControlName="Linea">
                </mat-form-field>  

                <mat-form-field class="fila1-CodSupervisor"> 
                    <mat-label>Codigo</mat-label>
                    <input matInput type="text"  placeholder="Codigo" value=""  (keyup.enter)="BuscarSupervisor()" 
                        autocomplete="off" formControlName="CodSupervisor" >
                </mat-form-field>

                <mat-form-field class="fila1-Supervisor" appearance="fill">
                    <mat-label>Supervisor</mat-label>
                    <input matInput type="text"  #trigger="matAutocompleteTrigger" placeholder="Supervisor" formControlName="Supervisor"  [matAutocomplete]="autoDataSupervisor" />
                    <mat-autocomplete autoActiveFirstOption #autoDataSupervisor="matAutocomplete">
                        <mat-option *ngFor="let option of filtroOperacionSupervisor | async" [value]="option.Nom_Auditor" (click)="CambiarValorCodSupervisor(option.Cod_Auditor)">
                            {{option.Nom_Auditor}}
                        </mat-option> 
                    </mat-autocomplete>                            
                </mat-form-field>

                <mat-form-field class="fila1-CodAuditor"> 
                    <mat-label>Codigo</mat-label>
                    <input matInput type="text"  placeholder="Codigo" value="" 
                        autocomplete="off" formControlName="CodAuditor" >
                </mat-form-field>


                <mat-form-field class="fila1-Auditor" appearance="fill">
                    <mat-label>Auditor</mat-label>
                    <input matInput type="text"  #trigger="matAutocompleteTrigger" placeholder="Auditor" formControlName="Auditor"  [matAutocomplete]="autoDataAuditor" />
                    <mat-autocomplete autoActiveFirstOption #autoDataAuditor="matAutocomplete">
                        <mat-option *ngFor="let option of filtroOperacionAuditor | async" [value]="option.Nom_Auditor" (click)="CambiarValorCodAuditor(option.Cod_Auditor)">
                            {{option.Nom_Auditor}}
                        </mat-option> 
                    </mat-autocomplete>                            
                </mat-form-field>

                <mat-form-field class="fila1-Fecha" >
                    <input matInput [matDatepicker]="picker1" placeholder="Fecha Registro" [disabled]="InputFechaDesHabilitado" [formControl]="Fecha" >
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker  #picker1></mat-datepicker>
                </mat-form-field>

               
                <button class="button-agregar" mat-flat-button>
                    <mat-icon aria-label="person" >save
                    </mat-icon>  Registrar
                </button>

            </div>

       

            <div class="container-cuerpo-fila2">
                     
                    <mat-form-field class="fila2-Cliente"> 
                        <mat-label>Cliente</mat-label>
                        <input matInput type="text"  placeholder="Cliente" value=""
                            autocomplete="off" formControlName="inputCliente" >
                    </mat-form-field>

                    <mat-form-field class="fila2-EstCli"> 
                        <mat-label>Estilo Cliente</mat-label>
                        <input matInput type="text"  placeholder="Estilo Cliente" value=""
                            autocomplete="off" formControlName="inputEstCli" >
                    </mat-form-field>

                    <mat-form-field class="fila2-EstPro"> 
                        <mat-label>Estilo Propio</mat-label>
                        <input matInput type="text"  placeholder="Estilo Propio" value=""
                            autocomplete="off" formControlName="inputEstPro" >
                    </mat-form-field>

                    <mat-form-field class="fila2-Version"> 
                        <mat-label>Version</mat-label>
                        <input matInput type="text"  placeholder="Version" value=""
                            autocomplete="off" formControlName="inputVersion" >
                    </mat-form-field>

                    <mat-form-field class="fila2-Ops"> 
                        <mat-label>OP'S</mat-label>
                        <input matInput type="text"  placeholder="OP'S" value=""
                            autocomplete="off" formControlName="inputOps" >
                    </mat-form-field>

            </div>   
 
           
            <div class="container-cuerpo-fila3">
                <table mat-table #table  [dataSource]="dataSource"   class="mat-elevation-z8" >
                    
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns_cab"  >
                        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    
                        <td  mat-cell *matCellDef="let element" > {{element[column]}} </td>
                      </ng-container>

            
                    
                      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                      <tr mat-row  *matRowDef="let row; columns: columnsToDisplay;"></tr>

                </table>

               <!-- <mat-paginator  class="paginador" #paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>-->

            </div>

        </form>

    </div>
 
</div>
<button class="btn btn-primary btn-xs" (click)="print()">imprimir</button>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">  
    <p style="color: white; text-align: center; " >Cargando... </p>  
</ngx-spinner>       
