/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-material.css';


.ag-theme-material .ag-overlay-loading-center{
    display: none
}

.ag-theme-balham .ag-row-selected { background-color: #4abbff; } .ag-theme-balham .ag-ltr .ag-row-focus { border: 1px solid red; }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { width: 100%; height: 100%; }
html, body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





.mat-form-field-appearance-fill .mat-form-field-flex{border-radius:4px 4px 0 0;padding:0 0 0 0!important; background: none;}

.mat-form-field-appearance-legacy .mat-form-field-infix{
    margin-top:2px
}

/*@media screen and (max-width: 650px){
.my-class .mat-dialog-container{
    height: 100% !important;
    width: 1600px !important;
  }
}*/
/*.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
    display: none !important;
}

.mat-ink-bar{
    width: 100%!important;
    left: 0px!important;
}*/