<!--DefectosAlamacenDerivados-->
  
  
<div class="container"> 
    <!-- ventana nro 4 - historial --> 
    <div class="grid-container"> 
 
        <div class="title">Control de Activos Fijos</div>

        <form class="container-cuerpo" [formGroup]="formulario">

            <mat-accordion class="example-headers-align" multi>
                
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Cabecera
                        </mat-panel-title>
                        <!--<mat-panel-description>
                        <mat-icon>assignment</mat-icon>
                        </mat-panel-description>-->
                   
                  </mat-expansion-panel-header>
                    <div class="container-cuerpo-fila1">
                    
                        <mat-form-field class="fila1-Empresa" appearance="fill"> 
                            <mat-label>Empresa</mat-label>
                            <input matInput type="text"  placeholder="Empresa" value=""
                                autocomplete="off" formControlName="Empresa" >
                        </mat-form-field>

                        <mat-form-field class="fila1-Sede" appearance="fill"> 
                            <mat-label>Sede</mat-label>
                            <input matInput type="text"  placeholder="Sede" value=""
                                autocomplete="off" formControlName="Sede" >
                        </mat-form-field>

                        <mat-form-field class="fila1-Piso" appearance="fill"> 
                            <mat-label>Piso</mat-label>
                            <input matInput type="text"  placeholder="Piso" value=""
                                autocomplete="off" formControlName="Piso" >
                        </mat-form-field>

                        <mat-form-field class="fila1-Ccosto" appearance="fill"> 
                            <mat-label>C. Costo</mat-label>
                            <input matInput type="text"  placeholder="C. Costo" value=""
                                autocomplete="off" formControlName="Ccosto" >
                        </mat-form-field>

                        <mat-form-field class="fila1-Responsable" appearance="fill"> 
                            <mat-label>Responsable</mat-label>
                            <input matInput type="text"  placeholder="Responsable" value=""
                                autocomplete="off" formControlName="Responsable" >
                        </mat-form-field>

                        <mat-form-field class="fila1-CodAct" appearance="fill"> 
                            <mat-label>Cod. Act.</mat-label>
                            <input matInput type="text"  placeholder="Cod. Act." value=""
                                autocomplete="off" formControlName="CodAct" >
                        </mat-form-field>

            
                        <mat-form-field appearance="fill" class="fila1-ClaseAct" >
                            <mat-label>Clase Act.</mat-label>
                            <mat-select formControlName="ClaseAct" placeholder="Clase Act.">
                            <mat-option *ngFor="let option of listar_operacionClase" [value]="option.Cod_Categoria" (click)="CambiarContenidoDetalle(option.Cod_Categoria)">
                                {{option.Nombre_Categoria}} 
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    
                        <div class="fila1-Fijar" appearance="fill"> 
                            <mat-checkbox class="example-margin" [(ngModel)]="disabled" (click)="FijarCabecera()" formControlName="Fijar">Fijar</mat-checkbox>
                        </div>
                

                    <!--<button type="button" class="fila1-buscar" mat-flat-button >                    
                        <mat-icon aria-label="person">search</mat-icon>Buscar
                    </button>

                    <button type="button" class="fila1-agregar" mat-flat-button >
                        <mat-icon aria-label="person">add
                        </mat-icon>  Agregar
                    </button>-->
    
                </div> 
                
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Detalle
                </mat-panel-title>
                <!--<mat-panel-description>
                <mat-icon>assignment</mat-icon>
                </mat-panel-description>-->
           
          </mat-expansion-panel-header>
           
          <div class="container-cuerpo-panel1" *ngIf="PanelEquipo">
            <mat-form-field class="fila1-Descripcion-Equipo" appearance="fill"> 
                <mat-label>Descripcion</mat-label>
                <input matInput type="text"  placeholder="Descripcion" value=""
                    autocomplete="off" formControlName="Descripcion" >
            </mat-form-field>

            <mat-form-field class="fila1-Marca-Equipo" appearance="fill"> 
                <mat-label>Marca</mat-label>
                <input matInput type="text"  placeholder="Marca" value=""
                    autocomplete="off" formControlName="Marca" >
            </mat-form-field>

            <mat-form-field class="fila1-Modelo-Equipo" appearance="fill"> 
                <mat-label>Modelo</mat-label>
                <input matInput type="text"  placeholder="Modelo" value=""
                    autocomplete="off" formControlName="Modelo" >
            </mat-form-field>

            <mat-form-field class="fila1-Serie-Equipo" appearance="fill"> 
                <mat-label>Serie</mat-label>
                <input matInput type="text"  placeholder="Serie" value=""
                    autocomplete="off" formControlName="Serie" >
            </mat-form-field>

            <mat-form-field class="fila1-Estado-Equipo" appearance="fill"> 
                <mat-label>Estado Fisico</mat-label>
                <input matInput type="text"  placeholder="Estado Fisico" value=""
                    autocomplete="off" formControlName="Estado" >
            </mat-form-field>

            <mat-form-field class="fila1-Uso-Equipo" appearance="fill"> 
                <mat-label>Uso/Desuso</mat-label>
                <input matInput type="text"  placeholder="Uso/Desuso" value=""
                    autocomplete="off" formControlName="Uso" >
            </mat-form-field>

            <mat-form-field class="fila1-Observacion-Equipo" appearance="fill"> 
                <mat-label>Observacion</mat-label>
                <textarea matInput type="text"  placeholder="Observacion" value=""
                    autocomplete="off" formControlName="Observacion" ></textarea>
            </mat-form-field>
        </div> 


            <div class="container-cuerpo-panel2" *ngIf="PanelMueble">
                <mat-form-field class="fila1-Descripcion-Mueble" appearance="fill"> 
                    <mat-label>Descripcion</mat-label>
                    <input matInput type="text"  placeholder="Descripcion" value=""
                        autocomplete="off" formControlName="Descripcion" >
                </mat-form-field>

                <mat-form-field class="fila1-Color-Mueble" appearance="fill"> 
                    <mat-label>Color</mat-label>
                    <input matInput type="text"  placeholder="Color" value=""
                        autocomplete="off" formControlName="Color" >
                </mat-form-field>

                <mat-form-field class="fila1-Medidas-Mueble" appearance="fill"> 
                    <mat-label>Medidas</mat-label>
                    <input matInput type="text"  placeholder="Medidas" value=""
                        autocomplete="off" formControlName="Medidas" >
                </mat-form-field>

                <mat-form-field class="fila1-Estado-Mueble" appearance="fill"> 
                    <mat-label>Estado Fisico</mat-label>
                    <input matInput type="text"  placeholder="Estado Fisico" value=""
                        autocomplete="off" formControlName="Estado" >
                </mat-form-field>

                <mat-form-field class="fila1-Uso-Mueble" appearance="fill"> 
                    <mat-label>Uso/Desuso</mat-label>
                    <input matInput type="text"  placeholder="Uso/Desuso" value=""
                        autocomplete="off" formControlName="Uso" >
                </mat-form-field>

                <mat-form-field class="fila1-Observacion-Mueble" appearance="fill"> 
                    <mat-label>Observacion</mat-label>
                    <textarea matInput type="text"  placeholder="Observacion" value=""
                        autocomplete="off" formControlName="Observacion" ></textarea>
                </mat-form-field>
            </div> 



            <div class="container-cuerpo-panel3" *ngIf="PanelVehiculo">
                <mat-form-field class="fila1-Descripcion-Vehiculo" appearance="fill"> 
                    <mat-label>Descripcion</mat-label>
                    <input matInput type="text"  placeholder="Descripcion" value=""
                        autocomplete="off" formControlName="Descripcion" >
                </mat-form-field>

                <mat-form-field class="fila1-Marca-Vehiculo" appearance="fill"> 
                    <mat-label>Marca</mat-label>
                    <input matInput type="text"  placeholder="Marca" value=""
                        autocomplete="off" formControlName="Marca" >
                </mat-form-field>

                <mat-form-field class="fila1-Modelo-Vehiculo" appearance="fill"> 
                    <mat-label>Modelo</mat-label>
                    <input matInput type="text"  placeholder="Modelo" value=""
                        autocomplete="off" formControlName="Modelo" >
                </mat-form-field>

                <mat-form-field class="fila1-Motor-Vehiculo" appearance="fill"> 
                    <mat-label>Serie Motor</mat-label>
                    <input matInput type="text"  placeholder="Serie Motor" value=""
                        autocomplete="off" formControlName="Motor" >
                </mat-form-field>

                <mat-form-field class="fila1-Chasis-Vehiculo" appearance="fill"> 
                    <mat-label>Serie Chasis</mat-label>
                    <input matInput type="text"  placeholder="Serie Chasis" value=""
                        autocomplete="off" formControlName="Chasis" >
                </mat-form-field>

                <mat-form-field class="fila1-Placa-Vehiculo" appearance="fill"> 
                    <mat-label>Placa</mat-label>
                    <input matInput type="text"  placeholder="Placa" value=""
                        autocomplete="off" formControlName="Placa" >
                </mat-form-field>

                <mat-form-field class="fila1-Color-Vehiculo" appearance="fill"> 
                    <mat-label>Color</mat-label>
                    <input matInput type="text"  placeholder="Color" value=""
                        autocomplete="off" formControlName="Color" >
                </mat-form-field>

                <mat-form-field class="fila1-Combustible-Vehiculo" appearance="fill"> 
                    <mat-label>Tipo Combustible</mat-label>
                    <input matInput type="text"  placeholder="Tipo Combustible" value=""
                        autocomplete="off" formControlName="Combustible" >
                </mat-form-field>

                <mat-form-field class="fila1-Caja-Vehiculo" appearance="fill"> 
                    <mat-label>Tipo de Caja</mat-label>
                    <input matInput type="text"  placeholder="Tipo de Caja" value=""
                        autocomplete="off" formControlName="Caja" >
                </mat-form-field>

                <mat-form-field class="fila1-Asiento-Vehiculo" appearance="fill"> 
                    <mat-label>Cant. Asiento</mat-label>
                    <input matInput type="text"  placeholder="Cant. Asiento" value=""
                        autocomplete="off" formControlName="Asiento" >
                </mat-form-field>

                <mat-form-field class="fila1-Fabricacion-Vehiculo" appearance="fill"> 
                    <mat-label>Año de Fabricacion</mat-label>
                    <input matInput type="text"  placeholder="Año de Fabricacion" value=""
                        autocomplete="off" formControlName="Fabricacion" >
                </mat-form-field>

                <mat-form-field class="fila1-Ejes-Vehiculo" appearance="fill"> 
                    <mat-label>Cant. Ejes</mat-label>
                    <input matInput type="text"  placeholder="Cant. Ejes" value=""
                        autocomplete="off" formControlName="Ejes" >
                </mat-form-field>

                <mat-form-field class="fila1-Observacion-Vehiculo" appearance="fill"> 
                    <mat-label>Observacion</mat-label>
                    <textarea matInput type="text"  placeholder="Observacion" value=""
                        autocomplete="off" formControlName="Observacion" ></textarea>
                </mat-form-field>
            </div> 
        
    </mat-expansion-panel>
        </mat-accordion>

        
            
              <!--<button type="button" class="fila1-buscar" mat-flat-button >                    
                <mat-icon aria-label="person">search</mat-icon>Buscar
            </button>

            <button type="button" class="fila1-agregar" mat-flat-button >
                <mat-icon aria-label="person">add
                </mat-icon>  Agregar
            </button>-->
            
 
            <div class="container-cuerpo-fila2">
                <table mat-table #table   class="mat-elevation-z8" >
                    

                </table>

            </div>

        </form>

    </div>
 
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">  
    <p style="color: white; text-align: center; " >Cargando... </p>  
</ngx-spinner>       